<div class="card">
    <div class="card-header">
    <a class="text-decoration-none" routerLink="/theory" routerLinkActive="active">Wróć</a>    
    <h2 >Bierne palenie</h2>
    </div>
    <div class="card-body font-weight-light">
        Wdychanie dymu tytoniowego z papierosa palonego przez inną osobę w tym samym pomieszczeniu,
         jest szczególnie niebezpieczne dla zdrowia, gdyż boczny strumień dymu tytoniowego zawiera 
         od 5 do 15 razy więcej tlenku węgla i od 2 do 20 razy więcej nikotyny niż dym wdychany przez palaczy. 
         Wdychanie dymu wydychanego przez palaczy, zwiększa u osób niepalących ryzyko wystąpienia raka płuc i 
         chorób serca (np. choroby niedokrwiennej serca). Dym ten zawiera także wiele substancji alergizujących, powodujących łzawienie oczu, podrażnienie błony śluzowej nosa, kaszel, nawracające zakażenia układu oddechowego, a także uczulenia i w konsekwencji astmę. Dodatkowo kontakt osób niepalących z dymem tytoniowym osłabia ich zdolność do pracy, zmniejsza wydajność, demobilizuje i pogarsza samopoczucie.
        
    </div>
    <img class="nosmokephoto" src="/assets/img/nosmoke.png" height="120px" width="120px"> 
  </div>

   
          


