<a routerLink="/theory" routerLinkActive="active">Wróć</a> 
<div class="card">
    <h2 class="card-header card bg-secondary text-white">MIT</h2> 
    <div class="card-body">
      <h2 class="card-title">Palenie pomaga na stres</h2>
      <p class="card-text"><b>W rzeczywistości palenie zwiększa uczucie niepokoju i napięcia, 
        ponieważ przyspiesza pracę serca. Ulgę w stresie przynosi sama czynność palenia.
         Większość palaczy odczuwa napięcie do chwili zapalenia kolejnego papierosa. </b></p>
         <p>
         Zapalenie papierosa dostarcza psychoaktywnej nikotyny, która działa w mózgu na tzw. ośrodek przyjemności.
          Odczuwane jest uczucie przyjemnego pobudzenia, poprawa nastroju. Jest to jednak stan krótkotrwały. 
          Kiedy sztucznie podniesiony poziom dopaminy spadnie (co dzieje się już po około 20 minutach),
           osoba uzależniona zaczyna czuć dyskomfort (spowodowany jest brakiem uzależniającej nikotyny),
            który odczuwa jako stres. Wtedy pojawia się potrzeba palenia, po to by znowu poczuć się dobrze. 
            Tak nakręca się „spirala stresu”. Wiele palących osób mówi o „nerwowym życiu”,
          a tak naprawdę, to ciągłe wahania poziomu nikotyny powodują takie odczucia. </p>
    </div>
  </div>

  <div class="card">
    <h2 class="card-header card bg-info text-white">FAKT</h2> 
    <div class="card-body">
      <h2 class="card-title">Po rzuceniu palenia tyje się</h2>
      <p class="card-text"> <b>Rzucenie palenia nie zawsze oznacza, że przytyjemy! </b>Pamiętajmy, że po rzuceniu palenia
         zmieni się nieco nasza fizjologia i nasze zachowania. Mogą wystąpić przejściowe zaburzenia związane np.
          ze zwiększonym łaknieniem, czy tendencją do „zajadania” odruchu palenia. Właściwe przygotowanie do 
          rzucenia palenia
         może znacznie ograniczyć problem przyrostu masy ciała lub nawet pozwolić na utrzymanie prawidłowej wagi.</p>
      
    </div>
  </div>
