<!-- <ul>
    <li>Metody walki z nałogiem</li>
    <li>Symptomy odstawienne</li>
    <li>Skutki palenia</li>
    <li>...</li>
</ul> -->

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Szkodliwość palenia</h2>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">Czytaj</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
</div>


<div class="card">
    <h2 class="card-header">Szkodliwość palenia</h2>
    <div class="card-body font-weight-light">
      <p>Papierosy w trakcie procesu produkcji poddawane są bardzo złożonej
        obróbce chemicznej. Do tytoniu dodawane są substancje konserwujące, poprawiające smak
        czy wpływające na jakość produktu. W efekcie decydując się na zapalenie papierosa wiedz, 
        że wraz z dymem tytoniowym wchłaniasz <b>7 tysiące substancji szkodliwych, z czego ponad 70
        to substancje rakotwórcze!</b> </p>
        
        <p>
        Spośród powszechnie znanych trucizn poza nikotyną dym tytoniowy
        zawiera min:</p>
        <ul>
            <li>aceton</li>
            <li>cyjanowodór</li>
            <li>kadm</li>
            <li>arsen</li>
            <li>amoniak</li>
            <li>tlenek węgla</li>
            <li>metanol</li>
            <li>DDT</li>
            <li>toluen</li>
            <li>butan itd</li>
        </ul> 
    
        <p>Szkodliwe działanie dymu tytoniowego nie ogranicza się tylko do układu oddechowego. 
        Toksyczne substancje wchłonięte do krwiobiegu rozprowadzane są po całym organizmie  i wywierają
         szkodliwy wpływ na wszystkie jego funkcje.</p>

        <p>
            Badania wykazały, że dym tytoniowy podrażnia błonę śluzową nosa i jamy ustnej, przełyku oraz żołądka,
            prowadząc również do jej uszkodzenia, ma właściwości alergizujące, ma działanie toksyczne na układ oddechowy,
            sercowo-naczyniowy, nerwowy, a także na wszystkie inne narządy i tkanki (m.in. trzustkę, nerki i pęcherz moczowy). 
            Ponadto może prowadzić do mutagennych, teratogennych oraz rakotwórczych zmian komórkowych. 
            Badania psychoneurologiczne wskazały na silne psychoaktywne, w tym uzależniające działanie nikotyny.
        </p>

        <p>
            Uzależnienie od tytoniu pogarsza jakość życia, powodując choroby:
        </p>
        <ol>
            <li>układu oddechowego (astmę, rozedmę płuc, przewlekłą obturacyjną chorobę płuc POCHP, zapalenie oskrzeli i płuc);</li>
            <li>układu krążenia (chorobę wieńcową, zawał serca, miażdżycę naczyń krwionośnych, nadciśnienie, choroby zakrzepowo-zatorowe w tym udar mózgu, chorobę Bǘrgera, tętniaka aorty);</li>
            <li>nowotworowe (istnieje związek przyczynowo skutkowy palenia z licznymi nowotworami złośliwymi m.in. płuca, krtani, gardła, przełyku, jamy ustnej, nosa, wargi, miedniczek nerkowych, pęcherza moczowego, trzustki, żołądka, wątroby);</li>
            <li>przewodu pokarmowego (wrzody żołądka, wrzody dwunastnicy);</li>
            <li> inne: osteoporozę, podatność na przeziębienia, alergie.</li>
        </ol>





        
      
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <!-- <img src="..." class="card-img-bottom" alt="..."> -->
  </div>