<!-- <ul>
    <li>Metody walki z nałogiem</li>
    <li>Symptomy odstawienne</li>
    <li>Skutki palenia</li>
    <li>...</li>
</ul> -->

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card bg-light h-100">
        <div class="card-body">
          <p class="card-text">Szkodliwość palenia</p>
          <a routerLink="/theory/malignancy" routerLinkActive="active" class="btn btn-primary">Czytaj</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card bg-light h-100">
          <div class="card-body">
            <p class="card-text">Fakty i mity o paleniu</p>
            <a routerLink="/theory/facts?myths" routerLinkActive="active" class="btn btn-primary">Czytaj</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light h-100">
          <div class="card-body">
            <p class="card-text">
              Bierne Palenie
            </p>
            <a routerLink="/theory/passive-smoking" routerLinkActive="active" class="btn btn-primary">Czytaj</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light h-100">  
            <div class="card-body">
              <p class="card-text">Mechanizmy uzależnienia</p>
              <a routerLink="/theory/mechanism" routerLinkActive="active" class="btn btn-primary">Czytaj</a>
            </div>
          </div>
        </div>
      <div class="col">
        <div class="card bg-light h-100">
          <div class="card-body">
            <p class="card-text">Leczenie uzależnienia od tytoniu</p>
            
            <a routerLink="/theory/treatment" routerLinkActive="active" class="btn btn-primary">Czytaj</a>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light h-100">
          <div class="card-body">
            <p class="card-text">Korzysci zdrowotne z rzucenia palenia</p>
            <a routerLink="/theory/benefits" routerLinkActive="active" class="btn btn-primary">Czytaj</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light h-100">
          <div class="card-body">
            <p class="card-text">Dlaczego rzucenie palenia sprzyja tyciu i jak sobie z tym poradzić?</p>
            <a routerLink="/theory/weight" routerLinkActive="active" class="btn btn-primary">Czytaj</a>
          </div>
        </div>
      </div>
</div>




 