<!-- <ul>
    <li>Metody walki z nałogiem</li>
    <li>Symptomy odstawienne</li>
    <li>Skutki palenia</li>
    <li>...</li>
</ul> -->

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Szkodliwość palenia</h2>
          <p class="card-text">Jak tytoń szkodzi twojemu zdrowiu?</p>
          <a routerLink="/theory/malignancy" routerLinkActive="active" class="btn btn-primary">Czytaj</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <!-- <img src="toxic.png" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h2 class="card-title">Fakty i mity o paleniu</h2>
            <p class="card-text">Poznaj fakty i mity</p>
            <a routerLink="/theory/facts?myths" routerLinkActive="active" class="btn btn-primary">Czytaj</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h2 class="card-title">Mechanizmy uzależnienia</h2>
            <p class="card-text">Poznaj trzy mechanizmy uzależnienia</p>
            <a routerLink="/theory/mechanism" routerLinkActive="active" class="btn btn-primary">Czytaj</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h2 class="card-title">Mechanizmy uzależnienia</h2>
            <p class="card-text">Poznaj trzy mechanizmy uzależnienia</p>
            <a routerLink="/theory/mechanism" routerLinkActive="active" class="btn btn-primary">Czytaj</a>
          </div>
        </div>
      </div>
</div>




  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <!-- <img src="..." class="card-img-bottom" alt="..."> -->
  </div>