<div class="card">
    <div class="card-header">
    <a class="text-decoration-none" routerLink="/theory" routerLinkActive="active">Wróć</a>    
    <h2 >Metody diagnostyczne - test Niny Schneider</h2>
    </div>
    <div class="card-body font-weight-light">
        <p>
            Pierwszym krokiem w podjętym leczeniu uzależnienia jest diagnoza motywacji do
            zerwania z nałogiem palenia tytoniu. Jako narzędzie służy temu test motywacji
            do zaprzestania palenia wg Niny Schneider z Uniwersytetu Kalifornijskiego w Los
            Angeles. Składa się on z dwunastu pytań, na które można
            odpowiedzieć twierdząco lub przecząco. Test bada wiedzę o nawykach związanych
            z paleniem, metodach terapii odwykowej, objawach zespołu abstynenckiego oraz
            przede wszystkim chęć pacjenta do rzucenia palenia. Interpretacja wyników pole-
            ga na podsumowaniu odpowiedzi twierdzących. Jeśli ten wynik jest wyższy od pod-
            sumowanych zakreślonych odpowiedzi ”Nie” to oznacza, że badany jest stosunkowo
            silnie zmotywowany do zerwania z nałogiem palenia tytoniu. Im więcej odpowiedzi
            twierdzących tym badany jest silnej zmotywowany.
          </p>
          
          <p>
            <b>Gdzie i w jaki sposób szukać pomocy, gdybyś miał/a problemy z utrzymaniem abstynencji</b> <br>
            Pomocy możesz szukać w telefonicznej poradni pomocy palącym pod numerem <b> 801 108 108</b>. 
            Możesz poszukać Poradni Pomocy Palącym w twojej okolicy, które oferują bezpłatne poradnictwo speckalistyczne. 
          </p>
          <p>
            <b>Na jakie pokusy i trudności będziesz narażony(a) w okresie abstynencji</b><br>
            W okresie abstynencji będziesz odczuwać/ła głód nikotynowy. Można go rozpoznać po rozdrażnieniu, spadku nastroju, chęci zapalenia papierosa.
            Właśnie głód nikotynowy najczęściej powoduje niepowodzenie w rzuceniu palenia. Przeczytaj więcej o metodach rzucenia palenia 
            <a class="text-decoration-none" routerLink="/theory/treatment" routerLinkActive="active">tutaj </a>.
          </p>
          <p>
            <b>W jaki sposób samej/samemu sobie poradzić w sytuacjach kryzysowych</b><br>
            Przede wszystkim nie bój się prosić bliskch o pomoc. Dobrym wyjściem będzie zwrócenie się do lekarza rodzinego
             z prośbą o dobranie odpowiedniego leczenia. Pamiętaj o swojej motywacji, bo ona daje najwięcej siły.
          </p>
          Wykonaj test motywacji Niny Schneider <a class="text-decoration-none" routerLink="/quiz" routerLinkActive="active">Przejdz do quizu </a>
    </div>
</div>



