<div *ngIf="accountService.currentUser$ | async">
  <div class="card border-primary main_card">
      <div class="card-body main_card-body">
          <p class="card-title">Nie palisz już {{diff}} dni!</p>
      </div>
    </div>
  <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
          <div class="card border-primary h-100">
          <div class="card-header header">Raport dnia</div>
            <div class="card-body text-dark">
              <p class="card-title profit">Twoje konto zyskało {{ profit +"zł"}}! </p>
              <div *ngIf="lifeExpand>1">
                <p class="card-title profit">Twoje życie wydłużyło się o {{ lifeExpand }} dni</p>
              </div>
              <div *ngIf="lifeExpand==1">
                <p class="card-title profit">Twoje życie wydłużyło się o {{ lifeExpand }} dzień</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-primary h-100">
          <div class="card-header header">Motywacja</div>
            <div class="card-body text-dark">
              <p>Twoja motywacja to: <i>{{ motivation }}</i></p>
              <p> Poziom twojej motywacji: {{ quizScore }}</p>
              <div *ngIf="quizScore<6">
              <p>Twoja motywacja jest słaba</p>
              <a routerLink="/motivation" routerLinkActive="active" >Popraw swoją motywację</a>
              </div>
              <div *ngIf="quizScore>6">
                <p>Twoja motywacja jest silna</p>
              </div>
            </div>
          </div>

  </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 second">
      <div class="col">
          <div class="card border-primary h-100">
          <div class="card-header header_benefit">Palenie w liczbach</div>
            <div class="card-body text-dark">
              <p> {{ info }}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-primary h-100">
          <div class="card-header header_benefit">Korzyści zdrowotne</div>
            <div class="card-body text-dark">
              <p> {{ benefitTime }}</p>
              <p> {{ benefit }}</p>
            </div>
          </div>
        </div>  
        <div class="col">
          <div class="card border-primary h-100">
          <div class="card-header header_benefit">Zagrożenia zdrowotne</div>
            <div class="card-body text-dark">
              <p> {{ risk }}</p>
            </div>
          </div>
        </div> 
  </div>
</div>
<div *ngIf="!(accountService.currentUser$ | async)"> 
  <!-- <img src="assets/img/bluelogo.png" class="rounded float-left" >
  <div class="title">
  <p class="element">Zadbaj o swoje płuca i rzuć palenie!</p>
  <p>Zarejestruj się aby znaleźć motywację oraz móc obserwować swoje podjęte próby rzucenia palenia </p>
  </div> -->
  <header>
    <div class=" circle"> </div>
    <div class="title"> Zadbaj o swoje płuca i rzuć palenie!</div>
</header>

<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0">
              
              <h2 class="h4 fw-bolder">Wiedza</h2>
              <p>Wejdź w zakładkę Wiedza i dowiedz się jak zacząć palenie, jakich objawów się spodziewać i jak rozpocząć walkę z uazleźnieniem!</p>
             
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
              
              <h2 class="h4 fw-bolder">Motywacja</h2>
              <p>Znajdź swoją motywację, która będzie ci dawała siłe podczas walki z nałogiem</p>
              
          </div>
          <div class="col-lg-4">
              
              <h2 class="h4 fw-bolder">Zarejestruj się</h2>
              <p>Zarejestruj się aby móc korzystać z innych opcji takie jak liczenie dni wolnych od palenia, zapisywania swojej motywacji i historii swojej walki z paleniem</p>
              
          </div>
      </div>
  </div>
</section>

</div>

