
    <div class="table-responsive">  
    
    <table mat-table [dataSource]="dataSource" class="table">
    
        <ng-container matColumnDef="lp">
          <th mat-header-cell *matHeaderCellDef> Lp </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1}} </td>
        </ng-container>
      
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Data dodania </th>
          <td mat-cell *matCellDef="let element"> {{element.addDate}} </td>
        </ng-container>
      
        <ng-container matColumnDef="couse">
          <th mat-header-cell *matHeaderCellDef> Powód </th>
          <td mat-cell *matCellDef="let element"> {{element.couse}} </td>
        </ng-container>

        <ng-container matColumnDef="days">
            <th mat-header-cell *matHeaderCellDef> Ilość dni </th>
            <td mat-cell *matCellDef="let element"> {{element.days}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </div>