<div class="card">
    <div class="card-header">
    <a routerLink="/theory" routerLinkActive="active">Wróć</a>    
    <h2 >Korzyści zdrowotne z rzucenia palenia</h2>
    </div>
    <div class="card-body font-weight-light">
        Organizm zaczyna się regenerować już od chwili rzucenia palenia. Korzyści są natychmiastowe i długoterminowe:
        <ul> 
       
        <li>po 20 minutach – spada tętno</li>
        <li>w ciągu 12 godzin – wraca do normy poziom tlenku węgla we krwi</li>
        <li>po 24 godzinach – zmniejsza się ryzyko ostrego zawału serca</li>
        <li>w ciągu 2–12 tygodni – poprawia się krążenie i czynność płuc</li>
        <li>do 3 miesięcy – poprawia się kondycja fizyczna</li>
        <li>w ciągu 1–9 miesięcy – ustępują kaszel i duszność</li>
        <li>po roku – o połowę zmniejsza się ryzyko zachorowania na chorobę niedokrwienną serca</li>
        <li>po 5 latach – zmniejsza się ryzyko wystąpienia udaru mózgu oraz zachorowania na raka jamy ustnej, przełyku i krtani oraz płuc</li>
        <li>w ciągu 10 lat – śmiertelność z powodu raka płuc jest o około połowę mniejsza niż wśród palaczy</li>
        <li>w ciągu 5–15 lat – ryzyko udaru zmniejsza się do poziomu porównywalnego do osób niepalących</li>
        <li>po 15 latach – ryzyko zachorowania na raka płuca jest podobne jak u osoby nigdy niepalącej</li>
        <li>w ciągu 15 lat – ryzyko wystąpienia chorób serca jest takie jak u niepalących.</li>
        </ul>
    </div>
</div>


