<div class="card">
    <div class="card-header">
    <a class="text-decoration-none" routerLink="/theory" routerLinkActive="active">Wróć</a>    
    <h2 >Powody uzależnienia od tytoniu</h2>
    </div>
    <div class="card-body font-weight-light">
        <p>
            <b>Nikotyna</b> jest uzależniającym narkotykiem wywołującym gwałtowne i intensywne objawy abstynencyjne u ludzi,
            którzy próbują ją odstawić. Objawy mogą być tak silne, że wiele palaczy odczuwa je już po przebudzeniu 
            co powoduje sięgnięcie po papierosa.
          </p>
          <p>
            Dym tytoniowy posiada substancje, które blokują enzym mózgowy monoaminooksydaza(MAO).
            Jest to istotny enzym, którego blokada może przyczyniać się do powstawania nałogu. Enzym MAO uczestniczy w rozkładaniu
            dopaminy, przez co gdy następuje jego blokada wzrasta poziom dopaminy, co powoduje odczuwanie szczęścia. Na siłę uzależnienia wpływa też sposób przyjmowania nikotyny. Najsilniej  uzależnia palenia tytoniu, ponieważ narkotyk
            jest dostarczony najszybciej do mózgu.
          </p>
          <p> 
            Nikotyna to substancja psychoaktywna. Oznacza to, że ma ona zdolność oddziaływania na ośrodkowy układ nerwowy i odpowiada za wystąpienie uzależnienia fizycznego.
             Każdy człowiek od chwili urodzenia posiada receptory nikotynowe, przez które ta substancja stymuluje ośrodkowy układ nerwowy. Nikotyna wpływa na pobudzenie organizmu i podwyższenie ciśnienia tętniczego.
              W wyniku palenia tytoniu receptory nikotynowe są regularnie drażnione, a osoba paląca przyzwyczaja się do efektów działania tej używki. Po pewnym czasie odczuwa ona satysfakcjonujący poziom pobudzenia i 
              koncentracji jedynie wtedy, gdy dostarczy sobie kolejną dawkę nikotyny, sięgając po następnego papierosa. Co ważne, mechanizm uzależnienia nie sprawia, że osoba paląca łatwiej się koncentruje na wykonywanych
               zadaniach, czy jest bardziej
               zmobilizowana do działania. Aby odczuć poziom pobudzenia i koncentracji porównywalny z niepalącymi, musi regularnie przyjmować kolejne dawki nikotyny. 
          </p>
    </div>
</div>


