<div class="card">
    <div class="card-header">
    <a class="text-decoration-none" routerLink="/theory" routerLinkActive="active">Wróć</a>    
    <h2 >Leczenie uzależnienia od tytoniu</h2>
    </div>
    <div class="card-body font-weight-light">
      <p>
        Uzależnie od tytoniu skłąda się z <b>uzależnienie farmakologicznego</b> oraz <b>behawioralnego</b> dlatego jest ono trudne
        do wyleczenia. Duże znaczenie w tym procesie przypisuje się motywującej rozmowie i poradzie lekarskiej. Oprócz tego jako pomoc wprowadza się leczenie
        farmakologiczne uzależnienia od nikotyny, które w szczególności ma na celu złagodzenie objawów związanych z abstynencją palenia tytoniu. 
      </p>
      <p>
        Lekami pierwszego wyboru w Polsce, które mają pomóc w walce z uzależnieniem, są preparaty zawierające nikotynę, stosowane jako terapia zastępcza
        (guma do żucia, plastry) oraz bupropion.  
      </p>
      <p> <b>Metody leczenia</b></p>
      <p> 
        Na wybór odpowiedniej dla pacjenta terapii ma wpływ doświadczenie lekarza, występowanie przeciwwskazań oraz preferencji i indywidualnych cech
        pacjenta. Terapie nikotynowe dostarczają do organizmu nikotynę w kontrolowanej dawce, co pozwala osobie uzależnionej na próbę nieużywania
        papierosów. Najpopularniejsze formy to <b>gumy i plastry nikotynowe</b>. Nowością są formy doustne (m.in. tabletki) uwalniające nikotynę do układu
        pokarmowego oraz inhalator płucny dostarczający nikotynę do płuc podobnie jak podczas palenia.
      </p>
      <ul>
        <li>
           <b>Guma nikotynowa</b> - terapia trwa najczęściej do 12 tygodni, w tym czasie pacjentom zaleca się regularne żucie przynajmniej 1 kawałka co 1-2
           godziny w celu optymalnego działania leku. Gumę należy odstawiać stopniowo. Dawkę należy dostosować do stopnia uzależnienia.
        </li>
        <li>
            <b>Plastry nikotynowe</b> -  stosowanie plastrów zawierających nikotynę stopniowo uwalnia lek do organizmu, jego stężenie we
            krwi wzrasta powoli od 6 do 10 godzin. Terapię rozpoczyna się od wyższej dawki nikotyny, stopniowo zmniejszając, a plaster
            (w równoważnych wersjach 16- lub 24-godzinnych) nakleja się raz dziennie rano, w słabo owłosionych częściach ciała. Terapia trwa 8 tygodni lub dłużej, ale
            krótszy czas też jest skuteczny. 
        </li>
        <li>
            <b>Bupropion</b>- lek przeciwdepresyjny, został dopuszczony w Polsce jako jedyny nienikotynowy lek pierwszego wyboru w terapii uzależnienia od nikotyny. Terapię rozpoczyna się przed zaplanowaną
            datą rzucenia palenia (1-2 tygodnie). Lek ten jest zalecany w połączeniu z nikotynową terapią zastępczą w leczeniu
            uzależnienia nikotynowego, co daje wyższą skuteczność terapii.
        </li>
    </ul>
        <p> <b> Innymi metodami są:</b></p>
        <ul>
            <li>
                <b>Metody behawioralne</b>- zmiania zachowania przez nieprzyjemne konsekwencje z nim związane lub
                pozytywnym wzmocnieniu dobrego zachowania
            </li>
            <li>
                <b>Aktywna samokontrola </b> - oparta na zmniejszaniu ilości wypalanych papierosów,
                zwykle łączona z innymi terapiami (mało skuteczna) 
            </li>
            <li>
                <b>Terapia grupowa</b> -  dla osób z silną motywacją do zerwania z nałogiem - oparta na zapewnieniu
                    wzajemnego poparcia oraz edukacji zdrowotnej w celu nauki zmiany zachowań. 
            </li>
        </ul>
      
  </div>
</div>

