<h2></h2>
<p>Motywacja pobudzi Cię do działania!</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf="(accountService.currentUser$ | async)">
    <div class="form-group">
        <label >Co jest moją motywacją?</label>
        <textarea class="form-control"  rows="3" formControlName="motivation"></textarea>
      </div>
      <button type="submit" class="btn btn-info">Zapisz</button>
</form>


<div class="card">
    <div class="card-body">
    <h3 class="card-title">Test Niny Schneider</h3>
    <p> Test mierzy motywację pacjenta do zaprzestania palenia tytoniu. </p>
      
      <a class="card-link" routerLink="/quiz" routerLinkActive="active"> Przejdź do quizu</a>
    </div>
</div>

