<h2></h2>
<p>Motywacja to...</p>

<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Co jest moją motywacją?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Zapisz</button>
</form>


<div class="card">
    <div class="card-body">
    <h3 class="card-title">Test Niny Schneider</h3>
    <p> Test mierzy motywację pacjenta do zaprzestania palenia tytoniu. </p>
      
      <a class="card-link" routerLink="/quiz" routerLinkActive="active"> Przejdź do quizu</a>
    </div>
</div>

