
 <header>
    <div class="logo">
    <a>
    <img src="assets/img/logo.png" alt="logo" width="100" height="100" class="logo" routerLink="#">
    </a>
    </div>
    <nav>
      <ul class="nav__links"> 
            <li><a routerLink="#" routerLinkActive="active">Panel główny</a></li>
            <li><a routerLink="/theory" routerLinkActive="active">Wiedza</a></li>
            <li> <a routerLink="/motivation" routerLinkActive="active" >Motywacja</a></li>
            <li><a routerLink="/notebook" routerLinkActive="active" *ngIf="accountService.currentUser$ | async">Notatnik</a></li>
            <li><a routerLink="/achievement" routerLinkActive="active" *ngIf="accountService.currentUser$ | async">Historia</a></li>
      </ul>
      
    </nav>
    <div class="buttons form-inline mt-2 mt-md-0">
      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle" dropdownToggle>Witaj {{user.username | titlecase}}!</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" routerLink="/profile" routerLinkActive="active">Edytuj profil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Zacznij od nowa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Wyloguj</a>
        </div>
      </div>

      <form #loginForm="ngForm" (ngSubmit)="login()" *ngIf="(accountService.currentUser$ | async) === null">
      <input 
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2" type="text" placeholder="Username">
        <input
        name="password" 
        [(ngModel)]="model.password"
        class="form-control me-2" type="password" placeholder="Password" autocomplete="off">
      <a class="cta"><button  type="submit">Zaloguj się</button> </a>
      <a class="cta" routerLink="/register" routerLinkActive="active"><button>Zarejestruj</button></a>
    </form>
    </div>
</header>
