<form>
    <app-quiz-question *ngFor="let question of questions; let questionIndex = index" 
    [number]="questionIndex+1" [content]="question.content" [name]="question.name" (selectedOption)="setAnswer($event, questionIndex)">

    </app-quiz-question>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Zapisz</button>
    <a class="btn btn-secondary" routerLink="/motivation" routerLinkActive="active" >Anuluj</a>
</form>

 
<div class="card" *ngIf="submited==true">
    <div class="card-body">
        <h4 class="card-title">Wynik: </h4>
        <p>Poziom twojej motywacji jest na <b>{{level}}</b> poziomie</p>
        <p *ngIf="score<6"> 
            <a>Dowiedz się więcej o motywacji</a> </p>
    </div>
</div>