<div class="card">
    <div class="card-header">
    <a class="text-decoration-none" routerLink="/theory" routerLinkActive="active">Wróć</a>    
    <h2 >Mechanizmy uzależenienia</h2>
    </div>
    <div class="card-body font-weight-light">
        
        <p>
          <b>Nikotyna</b> jest uzależniającym narkotykiem wywołującym gwałtowne i intensywne objawy abstynencyjne u ludzi,
          którzy próbują ją odstawić. Objawy mogą być tak silne, że wiele palaczy odczuwa je już po przebudzeniu 
          co powoduje sięgnięcie po papierosa.
        </p>
        <p>
          Dym tytoniowy posiada substancje, które blokują enzym mózgowy monoaminooksydaza(MAO).
          Jest to istotny enzym, którego blokada może przyczyniać się do powstawania nałogu. Enzym MAO uczestniczy w rozkładaniu
          dopaminy, przez co gdy następuje jego blokada wzrasta poziom dopaminy, co powoduje odczuwanie szczęścia. Na siłę uzależnienia wpływa też sposób przyjmowania nikotyny. Najsilniej  uzależnia palenia tytoniu, ponieważ narkotyk
          jest dostarczony najszybciej do mózgu.
        </p>
        <div>
          Uzależnienie od tytoniu jest wywoływane przez dwa wzajemnie oddziałujące 
          na siebie uzależnienia: farmakologiczne oraz behawioralne.
          <ul>
            <li>
              <b>Uzależnienie farmakologiczne</b> skutkuje potrzebą utrzymania odpowiednich stężeń nikotyny we krwi
            </li>
            <li>
              <b>Uzależnienie behawioralne</b> składa się z większej ilości czynników: psychologicznych, środowiskowych, kulturowych i społecznych.
            </li>
          </ul>
          W powstaniu nałogu istotną rolę odgrywa przykład palących rodziców, nauczycieli oraz rówieśników. 
          Przeważająca większość (90\%) dorosłych palaczy zaczyna regularnie palić przed 1 rokiem życia, a po pewnym okresie ulega uzależnieniu od nikotyny. 
        </div>
          </div>
  </div>

   
          

