<div class="card">
    <div class="card-header">
    <a class="text-decoration-none" routerLink="/theory" routerLinkActive="active">Wróć</a>    
    <h2 >Mechanizmy uzależenienia</h2>
    </div>
    <div class="card-body font-weight-light">
        <div>
          Uzależnienie od tytoniu jest wywoływane przez dwa wzajemnie oddziałujące na siebie uzależnienia: farmakologiczne oraz behawioralne
          <ul>
            <li>
              <b>Uzależnienie farmakologiczne</b> Uzależnienie farmakologiczne skutkuje potrzebą utrzymania odpowiednich stężeń
              nikotyny we krwi. Nikotyna wsplywa na nastrój i odczucia. Ma działanie euforyzu-
              jące podobnie jak inne substancję, takie jak alkohol i opiaty. Powoduje uzależnienie
              psychologiczne, przez co jego brak wywołuje negatywne objawy odstawienne i jest
              przykro odczuwany przez palacza. Poprzez zażywanie nikotyny zmienia się czynność
              układu nerwowego oraz zaburza gdy organizm doświadczy jego braku, co powoduje
              uzależnienie farmakologiczne
            </li>
            <li>
              <b>Uzależnienie behawioralne</b>  Palenie tytoniu jest spowodowane czynnikami wewnętrznymi oraz zewnętrznymi.
              Czynniki wewnętrzne wiążą się z psychiką palącego. Czynniki te wywołują chęć
              palenia, co powoduje, że palenie staje się odruchem warunkowym. Do czynników ze-
              wnętrznych należy picie kawy lub alkoholu, zakończenie posiłku, napięcie psychiczne
              czy palenie przez innych. Porzucenie nałogu jest trudnym procesem z powodu tak
              wielu czynników warunkujących palenie. Większość prób zerwania z nałogiem zaży-
              wania tytoniu kończy się nawrotem uzależnienia. W związku tym leczenie powinno
              zawierać elementy psychoterapii oraz nauki nowych zachowań. W niektórych przy-
              padkach, należy włączyć leczenie farmakologiczne. Najskuteczniejszym sposobem
              poradzenia sobie z nałogiem jest silna motywacja
            </li>
          </ul>

          </div>
        <img class="nosmokephoto" src="/assets/img/addition.png" height="120px" width="160px"> 
  </div>

   
          

