<div class="card">
    <div class="card-header">
    <a routerLink="/theory" routerLinkActive="active">Wróć</a>    
    <h2 >Dlaczego rzucenie palenia sprzyja tyciu i jak sobie z tym poradzić?</h2>
    </div>
    <div class="card-body font-weight-light">
      <p>
        Jak wynika z badania z 2012 roku 16% badanych osób, po rzuceniu palenia schudła, 37% przybrało mniej niż 5 kg, 
        35% przybrało 5-10 kg, a 13% przytyło ponad 10 kg w przeciągu roku po rzuceniu palenia. Średni obserwowany przyrost
         masy ciała wynosił 4-5 kg w ciągu pierwszego roku abstynencji.
        </p>
    
    <p>Główne powody, przez które osoby palące tyją, to:</p>
    <ul>
        <li><b>Zwolnienie metabolizmu</b>- nikotyna przyspiesza metabolizm, który zwalnia po rzuceniu palenia. 
            Dzieje się tak ze względu na to, że palenie papierosów zwiększa częstotliwość wyzwalania migotania 
            i trzepotania przedsionków serca. Aby zapobiec przytyciu, należy obniżyć częściowo kaloryczność dotychczasowej diety.</li>
        <li>
            <b>Wzrost łaknienia</b> – wraz z odstawieniem nikotyny pojawia się zespół odstawienia/ abstynencji objawiający się: odczuciami subiektywnymi a mianowicie: 
            głodem papierosa, wzrostem napięcia, niepokojem, nadmierną nerwowością, agresją, depresją, trudnością z koncentracją
             uwagi, nadmierną sennością lub bezsennością, wzrostem łaknienia.
        </li> 
        <li>
            <b>Stres</b> – pojawiające się tzw. „zajadanie stresu”, jest częstym zjawiskiem wśród byłych palaczy, wynikającym z działania 
            nikotyny. Substancja ta działa antydepresyjnie, poprawia nastrój, redukuje stres, zmniejsza lęk, niepokój, 
            a przez to w sytuacjach stresowych, znacząca większość palaczy deklaruje, że wypala więcej papierosów niż zazwyczaj. 
        </li>   
    </ul>
    <p>Co zrobić aby zapobiec tyciu?</p>
    <ul>
        <li>Nieznacznie obniż kaloryczność diety dotychczasowej</li>
        <li>Posiłki spożywaj w spokoju  i bez pośpiechu</li>
        <li>Skorzystaj z pomocy specjalisty: dietetyka, lekarza, psychologa</li>
        <li>Zajmij ręce długopisem, czy piłeczką antystresową, gumką do włosów, breloczkiem</li>
        <li>Nawyk trzymania papierosa w ustach zastąp wykałaczką, słomkom, bezcukrową gumą do żucia lub zjadaj część posiłków w postaci drobnych zdrowych przekąsek np. słupki marchewki.
            Zmień otoczenie</li>
        <li>Omijaj miejsca, w których częściej paliłeś/aś, między innymi, jeśli paliłeś w domu zmień aranżacje mieszkania</li>
        <li>Zmień rytuały, które wiązały się z paleniem</li>
        <li>Znajdź nowe hobby, które zajmie ci czas wcześniej poświęcany na palenie, możesz do tego zachęcić także innych</li>
    </ul>
    </div>
  </div>

