<div class="card">
    <div class="card-header">
    <a class="text-decoration-none" routerLink="/theory" routerLinkActive="active">Wróć</a>    
    <h2 >Szkodliwość palenia</h2>
    </div>
    <div class="card-body font-weight-light">
      <p>Papierosy w trakcie procesu produkcji poddawane są bardzo złożonej
        obróbce chemicznej. Do tytoniu dodawane są substancje konserwujące, poprawiające smak
        czy wpływające na jakość produktu. W efekcie decydując się na zapalenie papierosa wiedz, 
        że wraz z dymem tytoniowym wchłaniasz <b>7 tysiące substancji szkodliwych, z czego ponad 70
        to substancje rakotwórcze!</b> </p>
        
        <p>
        Spośród powszechnie znanych trucizn poza nikotyną dym tytoniowy
        zawiera min:</p>
        <img class="nosmokephoto" src="/assets/img/malignancy.png" height="120px" width="180px">
        <ul>
            <li>aceton</li>
            <li>cyjanowodór</li>
            <li>kadm</li>
            <li>arsen</li>
            <li>amoniak</li>
            <li>tlenek węgla</li>
            <li>metanol</li>
            <li>DDT</li>
            <li>toluen</li>
            <li>butan itd</li>
        </ul> 

       
    
        <p>Szkodliwe działanie dymu tytoniowego nie ogranicza się tylko do układu oddechowego. 
        Toksyczne substancje wchłonięte do krwiobiegu rozprowadzane są po całym organizmie  i wywierają
         szkodliwy wpływ na wszystkie jego funkcje.</p>

        <p>
            Badania wykazały, że dym tytoniowy podrażnia błonę śluzową nosa i jamy ustnej, przełyku oraz żołądka,
            prowadząc również do jej uszkodzenia, ma właściwości alergizujące, ma działanie toksyczne na układ oddechowy,
            sercowo-naczyniowy, nerwowy, a także na wszystkie inne narządy i tkanki (m.in. trzustkę, nerki i pęcherz moczowy). 
            Ponadto może prowadzić do mutagennych, teratogennych oraz rakotwórczych zmian komórkowych. 
            Badania psychoneurologiczne wskazały na silne psychoaktywne, w tym uzależniające działanie nikotyny.
        </p>

        <p>
            Uzależnienie od tytoniu pogarsza jakość życia, powodując choroby:
        </p>
        <ol>
            <li>układu oddechowego (astmę, rozedmę płuc, przewlekłą obturacyjną chorobę płuc POCHP, zapalenie oskrzeli i płuc);</li>
            <li>układu krążenia (chorobę wieńcową, zawał serca, miażdżycę naczyń krwionośnych, nadciśnienie, choroby zakrzepowo-zatorowe w tym udar mózgu, chorobę Bǘrgera, tętniaka aorty);</li>
            <li>nowotworowe (istnieje związek przyczynowo skutkowy palenia z licznymi nowotworami złośliwymi m.in. płuca, krtani, gardła, przełyku, jamy ustnej, nosa, wargi, miedniczek nerkowych, pęcherza moczowego, trzustki, żołądka, wątroby);</li>
            <li>przewodu pokarmowego (wrzody żołądka, wrzody dwunastnicy);</li>
            <li> inne: osteoporozę, podatność na przeziębienia, alergie.</li>
        </ol>
    </div>
  </div>
